<!DOCTYPE html>
<html>
<head>
  <title>Lake Monitoring System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="col-md-12 banner">
		<h1>Lake Monitoring System</h1>
	</div>
	<div class="container-fluid">
	    <!--Sidebar content-->
	    <div class="col-md-2 sidebar">
			<ul>
				<li><a href="<%= sensordata_path %>">Home</a></li>
				<li><a href="/previous_data">Previous Data</a></li>
				<li><a href="/previous_posts">View Posts Over Range</a></li>
				<li><a href="/sensor_information">Sensor Information</a></li>
				<% if current_admin %>
				<li><a href="/contacts">View Contacts</a></li>
				<li><a href="/admin_logout">Admin Logout</a></li>
				<% else %>
				<li><a href="/contact_admin">Contact Admin</a></li>
				<li><a href="/admin_login">Admin Login</a></li>
				<% end %>
			</ul>
	    </div>
	    <!--Body content-->
	    <div class="col-md-10 content-section">
			<%= yield %>
	    </div>
	</div>
</body>
</html>
