<p id="notice"><%= notice %></p>

<p>
  <strong>Field1:</strong>
  <%= @testdatum.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @testdatum.field2 %>
</p>

<%= link_to 'Edit', edit_testdatum_path(@testdatum) %> |
<%= link_to 'Back', testdata_path %>
